* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#root {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
.slack_body {
  display: flex;
  height: calc(100vh - 60px);
  min-height: 500px;
}
.google {
  display: flex;
  justify-content: center;
}
.MuiAlert-action {
  padding: 20px !important;
  max-height: 22px;
}
.MuiSvgIcon-fontSizeInherit {
  font-size: 25px;
}
.alert {
  position: fixed;
  width: 250px;
  top: 160px;
  right: 20px;
  z-index: 9999;
}
.MuiAlert-icon {
  position: absolute;
  top: 20px !important;
  left: 5px;
}

.sidebar_body {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-bottom: 22px;
}
