* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.slack_body {
  display: flex;
  height: calc(100vh - 60px);
  min-height: 500px;
}
.google {
  display: flex;
  justify-content: center;
}
.MuiPaper-root {
  padding: 10px 30px 10px 40px !important;
}
.MuiAlert-action {
  padding: 0px !important;
  max-height: 22px;
  font-size: !important;
}
.MuiSvgIcon-fontSizeInherit {
  font-size: 25px;
}
.alert {
  position: fixed;
  width: 300px;
  top: 260px;
  right: 20px;
  z-index: 9999;
}
.MuiCollapse-wrapperInner {
}
.MuiAlert-icon {
  position: absolute;
  top: 22px !important;
  left: 5px;
}
