.landing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  position: relative;
  min-height:100vh;
  padding-top:160px;
}

.landing img {
  max-width:20% ;
  min-width:160px;
}
.landing h3 {
  position: absolute;
  color: gray;
  bottom: 100px;
  font-family: Copperplate Gothic;
  letter-spacing: 4px;
  font-size: 1rem;
  min-width:280px;
}
.landing h3 span {
  border-top: 2px solid orange;
  border-bottom: 2px solid skyblue;

  padding: 20px;
}
.landing h3 .animation {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: -30px;
  background-color: white;
  min-width: 100%;
  min-height: 80px;
  z-index: 9999;
  animation: loading 3s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes loading {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
